* {
  /* solid black borders for CSS debugging
  border: 1px solid black; */
  box-sizing: border-box;
  font-size: 16px;
}

.hero {
  background-image: url("../img/vladimir-kudinov-71455.jpg");
  background-size: cover;
  min-height: 300px;
}

.hero h1 {
  padding: 20% 0 0px 5%;
  text-transform: lowercase;
}

.hero h6 {
  padding: 5px 0 12px 5%;
  margin: 0;
}

.cta {
  background-color: #ccc;
  padding: 5px 0 ;
}

.cta .form-group {
  margin: 0;
}

label {
  font-style: italic;
  margin-right: 15px;
}

.main {
  padding: 20px;
}

.about-hero {
  background-image: url("../img/vladimir-kudinov-71455.jpg");
  background-size: cover;
  height: 150px;
}

.about-hero h1 {
  padding: 60px 0 0px 65%;
  text-transform: lowercase;
}

.about-hero h6 {
  padding: 5px 0 12px 65%;
  margin: 0;
}

.callout {
  background-color: #ccc;
  padding: 10px;

}

footer {
  font-size: 0.7rem;
  padding: 10px;
  background-color: #ccc;
  min-height: 35px;
}

footer p {
  float: left;
}

footer ul {
  list-style: none;
  float: right;
}

footer li {
  display: inline;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 21px;
  }
  .hero h1 {
    padding: 20% 0 0px 65%;
  }
  .hero h6 {
    padding: 5px 0 12px 65%;
    font-size: 1.1rem;
    margin: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    /*background-color: #012345;*/
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    /*background-color: #098765;*/
  }
}
