* {
  /* solid black borders for CSS debugging
  border: 1px solid black; */
  box-sizing: border-box;
  font-size: 16px;
}

.hero {
  background-image: url("../img/vladimir-kudinov-71455.jpg");
  background-size: cover;
  min-height: 300px;
}

.hero h1 {
  padding: 20% 0 0px 65%;
  text-transform: lowercase;
}

.hero h6 {
  padding: 5px 0 12px 65%;
  margin: 0;
}

.cta {
  background-color: #ccc;
  padding: 5px 0 ;
}

.cta .form-group {
  margin: 0;
}

label {
  font-style: italic;
  margin-right: 15px;
}

.main {
  padding: 20px;
}

footer {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #ccc;
  min-height: 35px;
}

footer p {
  float: left;
}

footer ul {
  list-style: none;
  float: right;
}

footer li {
  display: inline;
}
